// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    primary: #1890ff
  )
);
$dark-bg-color: #121212;
