@for (breadcrumb of navigationList; track breadcrumb; let last = $last) {
@if (last && breadcrumb.breadcrumbs !== false) {
<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/']" class="home">Home</a>
          </li>
          @for (breadcrumb of navigationList; track breadcrumb) {
          @if (isLink(breadcrumb.url)) {
          <li class="breadcrumb-item">
            <a [routerLink]="breadcrumb.url" class="f-14 f-w-600">{{ breadcrumb.title }}</a>
          </li>
          }
          @if (breadcrumb.url === true && breadcrumb.type !== 'group') {
          <li class="breadcrumb-item">
            <span class="f-14 f-w-600">{{ breadcrumb.title }}</span>
          </li>
          }
          }
        </ul>
      </div>
      <div class="col-md-12">
        <div class="page-header-title">
          @for (breadcrumb of navigationList; track breadcrumb; let last = $last) {
          @if (last) {
          <h2 class="mb-0 f-w-600 mt-2">{{ breadcrumb.title }}</h2>
          }
          }
        </div>
      </div>
    </div>
  </div>
</div>
}
}