<nav>
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="index.html" class="b-brand">
        <!-- ========   Change your logo from here   ============ -->
        <img src="assets/images/logo-dark.svg" alt="" class="logo logo-dark logo-lg" />
        <img src="assets/images/logo-white.svg" alt="" class="logo logo-white logo-lg" />
        <img src="assets/images/logo-icon.svg" alt="" class="logo logo-sm" />
      </a>
    </div>
    <app-nav-content (onNavCollapsedMob)="navCollapseMob()" class="scroll-div w-100"></app-nav-content>
  </div>
</nav>
