<div class="row">
  <!-- [ spinner ] start -->
  <div class="col-sm-6">
    <app-card cardTitle="Border spinner" blockClass="pc-component">
      <div class="spinner-border" role="status"> </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card cardTitle="Border spinner [ Colors ]" blockClass="pc-component">
      <div class="spinner-border text-primary" role="status"> </div>
      <div class="spinner-border text-secondary" role="status"> </div>
      <div class="spinner-border text-success" role="status"> </div>
      <div class="spinner-border text-danger" role="status"> </div>
      <div class="spinner-border text-warning" role="status"> </div>
      <div class="spinner-border text-info" role="status"> </div>
      <div class="spinner-border text-light" role="status"> </div>
      <div class="spinner-border text-dark" role="status"> </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card cardTitle="Growing spinner" blockClass="pc-component">
      <div class="spinner-grow" role="status"> </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card cardTitle="Growing spinner [ Colors ]" blockClass="pc-component">
      <div class="spinner-grow text-primary" role="status"> </div>
      <div class="spinner-grow text-secondary" role="status"> </div>
      <div class="spinner-grow text-success" role="status"> </div>
      <div class="spinner-grow text-danger" role="status"> </div>
      <div class="spinner-grow text-warning" role="status"> </div>
      <div class="spinner-grow text-info" role="status"> </div>
      <div class="spinner-grow text-light" role="status"> </div>
      <div class="spinner-grow text-dark" role="status"> </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card cardTitle="Placement" blockClass="pc-component">
      <h6>Start</h6>
      <div class="d-flex justify-content-start">
        <div class="spinner-border" role="status"> </div>
      </div>
      <hr />
      <h6>Center</h6>
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status"> </div>
      </div>
      <hr />
      <h6>End</h6>
      <div class="d-flex justify-content-end">
        <div class="spinner-border" role="status"> </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card cardTitle="Size" blockClass="pc-component">
      <h6>Small</h6>
      <div class="spinner-border spinner-border-sm" role="status"> </div>
      <div class="spinner-grow spinner-grow-sm" role="status"> </div>
      <hr />
      <h6>Custom</h6>
      <div class="spinner-border" style="width: 3rem; height: 3rem" role="status"> </div>
      <div class="spinner-grow" style="width: 3rem; height: 3rem" role="status"> </div>
    </app-card>
    <app-card cardTitle="Buttons" blockClass="pc-component">
      <div class="row">
        <div class="col-sm-6">
          <button class="btn btn-primary m-2" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status"></span>
          </button>
          <button class="btn btn-primary m-2" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status"></span>
            Loading...
          </button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-primary m-2" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status"></span>
          </button>
          <button class="btn btn-primary m-2" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status"></span>
            Loading...
          </button>
        </div>
      </div>
    </app-card>
  </div>
  <!-- [ spinner ] end -->
</div>
