// ============================
//     header css start
// ============================

.pc-footer {
  background: $body-bg;
  position: relative;
  z-index: 995;
  margin-left: $sidebar-width;
  margin-top: $header-height;
  padding: 15px 0;
  .footer-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-link {
    .list-inline-item:not(:last-child) {
      margin-right: 0.9rem;
    }
  }
  @media (max-width: 1024px) {
    margin-left: 0;
  }
}

// header css end
